.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  --header-height: 50px;
  --footer-height: 20px;
}

.header {
  height: var(--header-height);
  outline: dashed 2px green;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  outline: firebrick solid 2px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: var(--footer-height);
  width: 100%;
}
